.rowItem {
    display:flex;
    position: relative;
    width:auto;
    height:auto;
    min-height: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 1px;
    border-style: solid;
    border-color:white;
    border-width: thin;
    background-color: #E6E1E1;
}

.objKey {
    position:absolute;
    max-width: 40%;
    top: 20%;
    left: 5%;
}

.objKeyText {
    overflow: hidden
}

.objLastMod {
    position:absolute;
    max-width: 30%;
    top: 20%;
    left: 50%;
}

.objSize {
    position:absolute;
    max-width: 20%;
    top: 20%;
    left: 90%;
}
