.rowItem {
    display:flex;
    position: relative;
    width:auto;
    height:auto;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 1px;
    min-height: 2vh;
    border-style: solid;
    border-color:white;
    border-width: thin;
    background-color: #E6E1E1;
}

.rowItem > div {
    font-weight: 600;
}

.bucketName {
    position:absolute;
    max-width: 50%;
    top: 20%;
    left: 5%;
}

.bucketLocation {
    position:absolute;
    max-width: 30%;
    top: 20%;
    left: 40%;
}

.bucketSize {
    position:absolute;
    max-width: 10%;
    top: 20%;
    left: 60%;
}

.bucketNumFiles {
    position:absolute;
    max-width: 20%;
    top: 20%;
    left: 80%;
}
