.rowItem {
    display:inline-flex;
    position: relative;
    max-width: 50vw;
    max-height:7vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border-style: solid;
    border-color:black;
    border-width: thin;
    background-color: #E6E1E1;
}

.bucketName {
    position:absolute;
    max-width: 50%;
    left: 0%;
}

.bucketLocation {
    position:absolute;
    max-width: 30%;
    left: 40%;
}

.bucketSize {
    position:absolute;
    max-width: 10%;
    left: 60%;
}

.bucketNumFiles {
    position:absolute;
    max-width: 10%;
    left: 90%;
}
